.machine {

    &__inner {
        position: relative;

    }


    &__bg {

        img {
            display: block;
            width: 100%;
            overflow: hidden;
        }
    }

    &__main {
        max-width: 700px;

        img {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: 0 auto;

            display: block;
            width: 100%;
            max-width: 700px;
        }
    }

    &__placeholder {
        position: absolute;
        top: 53%;
        left: 50%;
        transform: translate(-50%, -50%);

        z-index: 5;
    }

    &__btn {
        font-family: 'Gabarito', sans-serif;

        border: 5px white solid;
        background-color: red;

        color: white;
        font-weight: 600;
        font-size: 30px;

        padding: 10px 30px;
        border-radius: 50px;

        position: absolute;
        bottom: 6%;
        left: 50%;
        transform: translateX(-50%);

        text-transform: uppercase;
    }
}